html {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  background-color: rgb(44, 9, 44);
}

html::-webkit-scrollbar {
  display: none;
}


/* ___________________________STARTSCREEN_VIEW___________________________ */
.startScreenContainer {
  width: 680px;
  height: 380px;
  background-image: url("imgs/startscreen.png");
  background-repeat: no-repeat;
  border: 5px solid black;
}

.startScreenMenuContainer {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  font-size: 120%;
  font-style: bold;
  background-color: rgb(54, 54, 54);
  color: rgb(205, 202, 50);
  border: 5px solid black;
  border-top: none;
  width: 680px;
  height: 120px;
}
.startGameText{
  margin-left: 40px;
}
.startScreenButtonContainer {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.topStartScreen {
  display: flex;
  justify-content: center;
  width: 680px;
  height: 50%;
}

.selectedPokemonImage{
  width: 150px;
  height: 150px;
  margin-top: 10px;
  background-color: rgba(54, 14, 14, 0.623);
  border: 5px solid black;
}

.bottomStartScreen {
  display: flex;
  justify-content: center;
  width: 680px;
  height: 50%;
}

.pokeball {
  image-rendering: pixelated;
  margin-left: 25px;
  margin-right: 25px;
  cursor: pointer;
  background-image: url("imgs/pokeball.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 96px;
  width: 96px;
}

.pokeball:hover {
  background-image: url("imgs/pokeball_hover.png");
  height: 96px;
  width: 96px;
}

/* ___________________________OVERWORLD_VIEW___________________________ */
.overWorldContainer {
  width: 680px;
  height: 380px;
  background-image: url("imgs/BattleBackground.gif");
  background-repeat: no-repeat;
  border: 5px solid black;
}

.overWorldMenuContainer {
  border: 5px solid black;
  border-top: none;
  width: 680px;
  height: 120px;
}

.overWorldButtonContainer {
  width: 200px;
  display: flex;
  margin-bottom: 22px;
  margin-left: 50%;
}


/* ___________________________BATTLE_VIEW___________________________ */
.battleContainer {
  width: 680px;
  height: 380px;
  background-image: url("imgs/BattleBackground.gif");
  background-repeat: no-repeat;
  border: 5px solid black;
}

.battleMenuContainer {
  border: 5px solid black;
  border-top: none;
  width: 680px;
  height: 120px;
}

.topScreen {
  height: 60%;
  width: 680px;
}

.opposingPokemonInfo{
  width: 150px;
  height: 55px;
  border: 5px solid rgba(255, 212, 212, 0.733);
  border-radius: 0 500px 500px 0;
  background-color: rgba(255, 212, 212, 0.733);
  margin-left: 15px;
  margin-top: 15px;
}

.opposingPokemonImage {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  margin-right: 140px;
}

.opposingPokemonName {
  display: flex;
  align-items: center;
  font-size: 110%;
  font-weight: 500;
}

.opposingPokemonName>img {
  height: 32px;
  width: 32px;
}

.bottomScreen {
  display: flex;
  height: 40%;
  width: 680px;
}

.playerImage {
  display: flex;
  margin-top: -40px;
  margin-left: 140px;
}
.playerInfo{
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 55px;
  border-radius: 500px 0 0 500px;
  border: 5px solid rgba(217, 255, 212, 0.733);
  background-color: rgba(217, 255, 212, 0.733);
  margin-left: 200px;
  margin-top: 25px;
}
.playerName {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 110%;
  font-weight: 500;
}

.playerLevel {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 110%;
  font-weight: 500;
}


button {
  height: 100px;
  width: 100px;
}

.battleButtonContainer {
  width: 200px;
  display: flex;
  margin-bottom: 22px;
  margin-left: 50%;
}

img {
  width: auto;
  height: 150px;
}


/* ___________________________CAUGHT_POKEMON_VIEW___________________________ */
.caughtContainer {
  width: 680px;
  height: 380px;
  background-image: url("imgs/BattleBackground.gif");
  background-repeat: no-repeat;
  border: 5px solid black;
}

.caughtMenuContainer {
  border: 5px solid black;
  border-top: none;
  width: 680px;
  height: 120px;
}

.caughtButtonContainer {
  width: 200px;
  display: flex;
  margin-bottom: 22px;
  margin-left: 50%;
}

.caughtInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 40px;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  color: rgb(205, 202, 50);
  background-color: rgba(54, 14, 14, 0.623);
}

.caughtPokemonImage {
  display: flex;
  justify-content: flex-end;
  margin-top: 100px;
  margin-right: 190px;
}

.caughtPokemonImage>img {
  height: 64px;
  width: 64px;
}




/* ___________________________POKEDEX_VIEW___________________________ */
.pokedexContainer {
  display: flex;
  flex-direction: row;
  height: 380px;
  width: 680px;
  background-color: rgb(131, 0, 0);
  border: 5px solid black;
}

.pokedexRow1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 50%;
  width: 50%;
  border: 5px solid black;
  margin-left: 80px;
  margin-top: 20px;
  margin-bottom: 200px;
  background-color: rgb(58, 35, 35);
}

.pokedexRow1Col1 {
  display: flex;
  height: 50%;
}

.pokedexRow2 {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

.pokedexList {
  height: 100%;
  width: 200px;
  border-left: 5px solid black;
  border-top: none;
  overflow-y: scroll;
  user-select: none;
}

.pokedexListName {
  display: flex;
  font-weight: 700;
  color: rgb(205, 202, 50);
  align-items: center;
  border-bottom: 2px solid black;
}

.pokedexListName>img {
  height: 32px;
  width: 32px;
  image-rendering: pixelated;
  border-right: 2px solid black;
  margin-right: 5px;
}


.pokedexName {
  display: flex;
  justify-content: center;
  color: rgb(205, 202, 50);
}

.selectedColor {
  background-color: rgb(71, 44, 44);
}

.pokedexImage {
  display: flex;
  justify-content: center;
}

.pokemonDescription {
  height: 100px;
  width: 350px;
  padding: 5px;
  margin-top: 10px;
  color: rgb(205, 202, 50);
  border: 5px solid black;
  background-color: rgb(58, 35, 35);
}

.typeContainer {
  display: flex;
  justify-content: center;
}

.type1>img,
.type2>img {
  display: flex;
  height: 32px;
  width: 96px;

}

.pokedexButtonContainer {
  width: 200px;
  display: flex;
  margin-bottom: 22px;
  margin-left: 50%;
}

.pokedexMenuContainer {
  border: 5px solid black;
  background-color: rgb(131, 0, 0);
  border-top: 5px solid black;
  width: 680px;
  height: 120px;
}