html{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    background-color: rgb(44, 9, 44);
}


html::-webkit-scrollbar {
  display: none;
}

.caughtContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: rgb(205, 202, 50);
}


/* STARTSCREEN_VIEW */
.container{
  width: 680px;
  height: 380px;
  border: 5px solid black;
}
/* OVERWORLD_VIEW */
.container{
  width: 680px;
  height: 380px;
  border: 5px solid black;
}


/* BATTLE_VIEW */
.container{
  width: 680px;
  height: 380px;
  background-image: url("imgs/BattleBackground.gif");
  background-repeat: no-repeat;
  border: 5px solid black;
}
.menuContainer{
  border: 5px solid black;
  border-top: none;
  width: 680px;
  height: 120px;
}

.topScreen {
  height: 60%;
  width: 680px;
}
.opposingPokemonImage{
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
  margin-right: 140px;
}
.opposingPokemonName{
  display: flex;
  align-items: center;
  font-size: 110%;
  font-weight: 500;
}
.opposingPokemonName > img{
  height: 32px;
  width: 32px;
}

.bottomScreen {
  height: 40%;
  width: 680px;
}
.playerImage{
  display: flex;
  margin-top: -40px;
  margin-left: 140px;
}
.playerName{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 110%;
  font-weight: 500;
}
.playerLevel{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 110%;
  font-weight: 500;
}


button {
  height: 100px;
  width: 100px;
}

.buttonContainer {
  width: 200px;
  display: flex;
  margin-bottom: 22px;
  margin-left: 50%;
}

img {
  width: auto;
  height: 150px;
}


/* POKEDEX_VIEW */
.pokedexContainer{
  display: flex;
  flex-direction: row;
  height: 380px;
  width: 680px;
  background-color: rgb(131, 0, 0);
  border: 5px solid black;
}
.pokedexRow1{
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 50%;
  width: 50%;
  border: 5px solid black;
  margin-left: 80px;
  margin-top: 20px;
  margin-bottom: 200px;
  background-color: rgb(58, 35, 35);
}
.pokedexRow1Col1{
  display: flex;
  height: 50%;
}
.pokedexRow2{
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

.pokedexList{
  height: 100%;
  width: 200px;
  border-left: 5px solid black;
  border-top: none;
  overflow-y: scroll; 
  user-select: none;
}
.pokedexListName{
  display: flex;
  font-weight: 700;
  color: rgb(205, 202, 50);
  align-items: center;
  border-bottom: 2px solid black;
}
.pokedexListName > img{
  height: 32px;
  width: 32px;
  image-rendering: pixelated;
  border-right: 2px solid black;
  margin-right: 5px;
}


.pokedexName{
  display: flex;
  justify-content: center;
  color: rgb(205, 202, 50);
}
.selectedColor{
  background-color: rgb(71, 44, 44);
}
.pokedexImage{
  display: flex;
  justify-content: center;
}
.pokemonDescription{
  height: 100px;
  width: 350px;
  padding: 5px;
  margin-top: 10px;
  color: rgb(205, 202, 50);
  border: 5px solid black;
  background-color: rgb(70, 34, 34);
}

.typeContainer{
  display: flex;
  justify-content: center;
}
.type1 > img, .type2 > img{
  display: flex;
  height: 32px;
  width: 96px;

}